
.navbar li{
    display:inline-block;
}

.navbar li a{
    font-size: 16px;
}

.contianer {
    width: 800px;
}

.left {
    width: 70%;
    float: left;
}

.right-photo {
    width:30%;
    height: 223px;
    float: right;
}

.profile {
    width:100%;
    height:50px;
}

.profile_photo {
    width:10%;
    height:50px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
}

.profile_name {
    width:30%;
    height:10px;
    float: left;
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 0px;
}

.update_time {
    color:grey;
    font-size: 12px;
    width:40%;
    height:15px;
    clear:both;
    margin-top:0px;
}

.content {
    width: 100%;
    height: 140px;
    clear: both;
    font-family: gulim;
    padding-top: 20px;
    font-size: 12px;
}

.description {
    color: grey;
}
