.contianer {
    width: 800px;
}

.left {
    width: 70%;
    float: left;
}

.right-photo {
    width:30%;
    height: 223px;
    float: right;
}

.profile {
    width:100%;
    height:70px;
    border-bottom: solid 1px black;
}

.profile_photo {
    width:20%;
    height:50px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
}

.profile_name {
    width:30%;
    height:50px;
    float: left;
    padding-left: 10px;
}

.content {
    width: 100%;
    height: 140px;
    clear: both;
    font-family: gulim;
    padding-top: 20px;
}
